.venv/
gastos.json
.ruff_cache/

__pycache__/
.pytest_cache/
*.pyc
.vscode/

# Ignora imagens soltas na raiz
/*.png
/*.jpg
/*.jpeg

# Mas NÃO ignora a pasta de assets do projeto
!img/*.png
!img/*.jpg
!img/*.jpeg